.container_login {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.login_form {
    border: 1px solid #3D3D3D;
    border-radius: 12px;
    padding: 18px 12px;
    width: 80vw;
}

.login_content_input {
    display: flex;
    flex-direction: column;
    margin: 18px 0%;
}

.login_form_input {
    border: 1px solid #3D3D3D;
    height: 36px;
    border-radius: 12px;
    padding: 0px 12px;
}